<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
 
<ui:composition template="/public/template.xhtml">
    
    <ui:define name="container">
        <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastrar livro Booky!</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="isbn">Isbn</label>
  <div class="controls">
    <input id="isbn" name="isbn" type="text" placeholder="Codigo Isbn do Livro" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="titulo">Titulo:</label>
  <div class="controls">
    <input id="titulo" name="titulo" type="text" placeholder="Titulo do Livro" class="input-xlarge">
    
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="descricao">Descrição</label>
  <div class="controls">                     
    <textarea id="descricao" name="descricao">Digite aqui a descrição do livro.</textarea>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="valor">Valor:</label>
  <div class="controls">
    <input id="valor" name="valor" type="text" placeholder="Preço " class="input-medium" required="">
    
  </div>
</div>

<!-- File Button --> 
<div class="control-group">
  <label class="control-label" for="caminhoImagem">Imagem:</label>
  <div class="controls">
    <input id="caminhoImagem" name="caminhoImagem" class="input-file" type="file">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nomeAutor">Autor:</label>
  <div class="controls">
    <input id="nomeAutor" name="nomeAutor" type="text" placeholder="Nome do Autor" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="sobrenomeAutor">Sobrenome:</label>
  <div class="controls">
    <input id="sobrenomeAutor" name="sobrenomeAutor" type="text" placeholder="Sobrenome do Autor" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nomeEditora">Editora:</label>
  <div class="controls">
    <input id="nomeEditora" name="nomeEditora" type="text" placeholder="Nome da Editora" class="input-xlarge" required="">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="logradouro">Logradouro:</label>
  <div class="controls">
    <input id="logradouro" name="logradouro" type="text" placeholder="Logradouro da Editora" class="input-xlarge" required="">
    <p class="help-block">Rua, Avenida e etc</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="complemento">Complemento:</label>
  <div class="controls">
    <input id="complemento" name="complemento" type="text" placeholder="0000 / 0000" class="input-medium" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="bairro">Bairro:</label>
  <div class="controls">
    <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cidade">Cidade:</label>
  <div class="controls">
    <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="estado">Estado:</label>
  <div class="controls">
    <input id="estado" name="estado" type="text" placeholder="Estado" class="input-large" required="">
    <p class="help-block">Ex: Minas Gerais MG</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cep">CEP:</label>
  <div class="controls">
    <input id="cep" name="cep" type="text" placeholder="000.000-000" class="input-medium" required="">
    
  </div>
</div>

<div class="control-group">
     <input type="submit" value="Realizar Cadastro" />
     <input type="reset" value="Limpar" />
</div>
</fieldset>
</form>
        
    </ui:define>
    
</ui:composition>
</html>