<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
 
<ui:composition template="/public/template.xhtml">
    
    <ui:define name="container">
        <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastrar usuário Booky!</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nomeCompleto">Nome:</label>
  <div class="controls">
    <input id="nomeCompleto" name="nomeCompleto" type="text" placeholder="Nome Completo:" class="input-xlarge" required="">
    <p class="help-block">Digite seu nome completo aqui</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cpf">CPF:</label>
  <div class="controls">
    <input id="cpf" name="cpf" type="text" placeholder="CPF:" class="input-medium" required="">
    <p class="help-block">Digite seu CPF aqui</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="rg">RG:</label>
  <div class="controls">
    <input id="rg" name="rg" type="text" placeholder="Número de sua RG:" class="input-medium" required="">
    <p class="help-block">Digite aqui o número de sua Carteira de Identidade</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">Email:</label>
  <div class="controls">
    <input id="email" name="email" type="text" placeholder="exemplo@exemplo.com.br" class="input-xlarge" required="">
    <p class="help-block">Digite seu email pessoal</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="telefone">Telefone:</label>
  <div class="controls">
    <input id="telefone" name="telefone" type="text" placeholder="(DDD) 0000-0000" class="input-medium" required="">
    <p class="help-block">Informe o seu telefone para contato</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="login">Login:</label>
  <div class="controls">
    <input id="login" name="login" type="text" placeholder="Login" class="input-medium" required="">
    <p class="help-block">Escolha um login para acesso</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="senha">Senha:</label>
  <div class="controls">
    <input id="senha" name="senha" type="password" placeholder="Senha de acesso ao sistema" class="input-medium" required="">
    <p class="help-block">Selecione uma senha pessoal</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="logradouro">Logradouro:</label>
  <div class="controls">
    <input id="logradouro" name="logradouro" type="text" placeholder="Logradouro" class="input-xlarge" required="">
    <p class="help-block">Nome da rua de sua residência</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="complemento">Complemento:</label>
  <div class="controls">
    <input id="complemento" name="complemento" type="text" placeholder="0000 / 0000" class="input-medium" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="bairro">Bairro:</label>
  <div class="controls">
    <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cidade">Cidade:</label>
  <div class="controls">
    <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="estado">Estado:</label>
  <div class="controls">
    <input id="estado" name="estado" type="text" placeholder="Estado" class="input-large" required="">
    <p class="help-block">Ex: Minas Gerais MG</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cep">CEP:</label>
  <div class="controls">
    <input id="cep" name="cep" type="text" placeholder="000.000-000" class="input-medium" required="">
    
  </div>
</div>

<div class="control-group">
     <input type="submit" value="Realizar Cadastro" />
     <input type="reset" value="Limpar" />
</div>

</fieldset>
</form>
        
    
</ui:composition>
</html>