<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
 
<ui:composition template="/public/template.xhtml">
    
    <ui:define name="container">
        <div class="row">
            
            <center><h3>Página não Encontrada!</h3></center>
            
        </div>
    </ui:define>
    
</ui:composition>
</html>