<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/public/template.xhtml">

	<ui:define name="container">

        <div id="property-listings">
            
			<div class="row">
				<div class="col-md-12">
					<h1>Livros</h1>
					<p>Uma lista com os melhores títulos do mercado</p>
				</div>
			</div>
            
            <ui:repeat value="#{livros}" var="livro">
            
	                <div class="col-sm-6">
	                    <div class="unit_display property-listing">
	                        <div class="media">
	                            <a class="pull-left" href="#">
	                            	<img alt="imagem" class="img-responsive"
	                            		src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
	                            	</img>
	                            </a>
	
	                            <div class="clearfix visible-sm"></div>
	
	                            <div class="media-body fnt-smaller">
	                                <h4 class="media-heading">
	                                	<a href="#">
	                                		<h:outputText value="#{livro.valor}">
												<f:convertNumber currencySymbol="R$" type="currency" />
											</h:outputText>
	                                	</a>
	                                </h4>
	                                
	                                <p class="list-inline mrg-0 btm-mrg-10 clr-535353">
	                                	<h:outputText value="#{livro.nome}" />
	                                </p>
	                                
	                                <p class="hidden-xs" style="height:80px;text-overflow:ellipsis;">
	                                	<h:outputText value="#{livro.descricao}" />
	                                </p>
	                                <span class="fnt-smaller fnt-lighter fnt-arial">
	                                	Courtesy of HS Fox - Roach-Chestnut Hill Evergreen
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    
	                </div>
            
            </ui:repeat>
            
<!--             <div class="row"> -->
<!--                 <div class="col-sm-6"> -->
            
<!--                     Begin Listing: 609 W GRAVERS LN -->
<!--                     <div class="unit_display property-listing"> -->
<!--                         <div class="media"> -->
<!--                             <a class="pull-left" href="#"> -->
<!--                             	<img alt="imagem" class="img-responsive" -->
<!--                             		src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg"> -->
<!--                             	</img> -->
<!--                             </a> -->

<!--                             <div class="clearfix visible-sm"></div> -->

<!--                             <div class="media-body fnt-smaller"> -->
<!--                                 <h4 class="media-heading"> -->
<!--                                 	<a href="#"> -->
                                		
<!--                                 	</a> -->
<!--                                 </h4> -->
                                
<!--                                 <ul class="list-inline mrg-0 btm-mrg-10 clr-535353"> -->
<!--                                     <li>4,820 SqFt</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>5 Beds</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>5 Baths</li> -->
<!--                                 </ul> -->

<!--                                 <p class="hidden-xs">Situated between fairmount -->
<!--                                 park and the prestigious philadelphia cricket -->
<!--                                 club, this beautiful 2+ acre property is truly -->
<!--                                 ...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox - Roach-Chestnut Hill -->
<!--                                 Evergreen</span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
                    
<!--                 </div> -->
<!--                 <div class="col-sm-6"> -->

<!--                     Begin Listing: 218 LYNNEBROOK LN -->
<!--                     <div class="unit_display property-listing"> -->
<!--                         <div class="media"> -->
<!--                             <a class="pull-left" href="#" target="_parent"> -->
<!--                             	<img alt="imagem" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg"> -->
<!--                             	</img> -->
<!--                             </a> -->

<!--                             <div class="clearfix visible-sm"></div> -->

<!--                             <div class="media-body fnt-smaller"> -->
<!--                                 <a href="#" target="_parent"></a> -->

<!--                                 <h4 class="media-heading"> -->
<!--                                   <a href="#" target="_parent">$1,975,000 <small class="pull-right">218 Lynnebrook Ln</small></a></h4> -->


<!--                                 <ul class="list-inline mrg-0 btm-mrg-10 clr-535353"> -->
<!--                                     <li>6,959 SqFt</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>6 Beds</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>5 Baths</li> -->
<!--                                 </ul> -->

<!--                                 <p class="hidden-xs">Impressively positioned -->
<!--                                 overlooking 3.5 captivating acres, designated -->
<!--                                 as "significant" by the chestnut hill -->
<!--                                 historical s...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox - Roach-Blue Bell</span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
                    
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="row"> -->
<!--                 <div class="col-sm-6"> -->

<!--                     Begin Listing: 209 CHESTNUT HILL AVE -->
<!--                     <div class="unit_display property-listing"> -->
<!--                         <div class="media"> -->
<!--                             <a class="pull-left" href="#" target="_parent"> -->
<!--                             	<img alt="imagem" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/iwn7qH9r9OPnqTaTTxxb8PBzQHk2EiHU2PBBntt041AZsVsGY-SeUexTMLgRcYSJukrKOwHaYnTVXAsk6RdSmA.jpg"> -->
<!--                             	</img> -->
<!--                             </a> -->

<!--                             <div class="clearfix visible-sm"></div> -->

<!--                             <div class="media-body fnt-smaller"> -->
<!--                                 <a href="#" target="_parent"></a> -->

<!--                                 <h4 class="media-heading"> -->
<!--                                   <a href="#" target="_parent">$1,599,999 <small class="pull-right">209 Chestnut Hill ve</small></a></h4> -->


<!--                                 <ul class="list-inline mrg-0 btm-mrg-10 clr-535353"> -->
<!--                                     <li>16,581 SqFt</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>8 Beds</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>4 Baths</li> -->
<!--                                 </ul> -->

<!--                                 <p class="hidden-xs">Built in 1909 by -->
<!--                                 pittsburgh steel magnate henry a. laughlin, -->
<!--                                 greylock is a classic chestnut hill stone -->
<!--                                 mansion once cons...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of ng and Foster-Devon</span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div>End Listing -->

<!-- 				</div> -->
<!--                 <div class="col-sm-6"> -->
                
<!--                     Begin Listing: 704 SAINT GEORGES ST -->
<!--                     <div class="unit_display property-listing"> -->
<!--                         <div class="media"> -->
<!--                             <a class="pull-left" href="#" target="_parent"> -->
<!--                             	<img alt="imagem" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/7IZk2HTN0AcHnIb7VCvisTUc3kTbn0UyHQlVAlwkNLM3_8UNN8pcgy9u6KVNoRGGH_kdUlpYehdbqzctRNUebg.jpg"> -->
<!--                             	</img> -->
<!--                             </a> -->

<!--                             <div class="clearfix visible-sm"></div> -->

<!--                             <div class="media-body fnt-smaller"> -->
<!--                                 <a href="#" target="_parent"></a> -->

<!--                                 <h4 class="media-heading"> -->
<!--                                   <a href="#" target="_parent">$1,595,000 <small class="pull-right">704 Saint Georges St</small></a></h4> -->


<!--                                 <ul class="list-inline mrg-0 btm-mrg-10 clr-535353"> -->
<!--                                     <li>0 SqFt</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>4 Beds</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>5 Baths</li> -->
<!--                                 </ul> -->

<!--                                 <p class="hidden-xs">Blake development is proud -->
<!--                                 to offer the second of two distinctly unique -->
<!--                                 homes located on one of the most desirable -->
<!--                                 stree...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox - Roach-Chestnut Hill -->
<!--                                 Evergreen</span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div>End Listing -->
<!--                 </div> -->
<!--             </div> -->

<!--             <div class="row"> -->
<!--                 <div class="col-sm-6">   -->

<!--                     Begin Listing: 701 W ALLENS LN -->
<!--                     <div class="unit_display property-listing"> -->
<!--                         <div class="media"> -->
<!--                             <a class="pull-left" href="#" target="_parent"> -->
<!--                             	<img alt="imagem" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/K12MLs4i-e2rsQ-rA6DoCwlysXSrEXZyHtCFkrOLsvK1y2mvbUrlmw5pMXX1laXlnY9_0VU82YeS3EucwIchtg.jpg"> -->
<!--                             	</img> -->
<!--                             </a> -->

<!--                             <div class="clearfix visible-sm"></div> -->

<!--                             <div class="media-body fnt-smaller"> -->
<!--                                 <a href="#" target="_parent"></a> -->

<!--                                 <h4 class="media-heading"> -->
<!--                                   <a href="#" target="_parent">$1,175,000 <small class="pull-right">701 W Allens Ln</small></a></h4> -->


<!--                                 <ul class="list-inline mrg-0 btm-mrg-10 clr-535353"> -->
<!--                                     <li>9,824 SqFt</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>8 Beds</li> -->

<!--                                     <li style="list-style: none">|</li> -->

<!--                                     <li>5 Baths</li> -->
<!--                                 </ul> -->

<!--                                 <p class="hidden-xs">A once in a lifetime -->
<!--                                 opportunity! live in this grand home with its -->
<!--                                 stunning entry and staircase, bedroom suites, -->
<!--                                 firepla...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox - Roach-Chestnut Hill -->
<!--                                 Evergreen</span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <div class="col-sm-6"> -->
<!--         		</div> -->
<!-- 			</div> -->
		</div>
    </ui:define>
</ui:composition>
</html>