<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
 	
<ui:composition template="/public/template.xhtml">
	<div class="div_vazia"></div>
	<div class="div_conteudo">
		<div class="div_realizar_cadastro">
			<label><b>Não possuo Cadastro</b></label>
			<br /><br />
			<a class="form-control" href="#">Realizar o meu Cadastro</a>	
		</div>
		<div class="div_possui_cadastro">
			<form action="" method="post">
				<label><b>Possuo Cadastro</b></label>
				<br /><br />
				<div class="form-group">
					<label class="form-control">Login:</label>
					<input class="form-control" type="text" name="username" />
				</div>
				<div class="form-group">
					<label class="form-control">Senha:</label>
					<input class="form-control" type="password" name="password" />
				</div>
				<div class="form-group">
					<input class="form-control" type="reset" value="Limpar" />
					<input class="form-control" type="submit" name="Realizar Login" />
				</div>
			</form>	
		</div>
	</div>
	<div class="div_vazia"></div>
</ui:composition>
</html>