<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/booky" class="navbar-brand">Booky</a>
            </div>
            <div id="nav_links" class="collapse navbar-collapse">
            	<ul class="nav navbar-nav">
            		<li><a href="livro">Livro</a></li>
            	</ul>
           		<a href="login" class="btn btn-success navbar-btn navbar-right">
           			Login
           		</a>
               	<h:form styleClass="navbar-form navbar-right">
                	<div class="input-group">
                        <h:inputText value="" styleClass="form-control" pt:placeholder="Buscar Livros" />
                        <span class="input-group-btn">
                            <h:commandButton action="#" value="buscar" styleClass="btn btn-default"/>
                        </span>
                    </div>
               	</h:form>
            </div>
        </div>
    </nav>
</body>
</html>