<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
 
<body>
    <div class="jumbotron" style="padding-bottom: 12px; padding-top: 32px;">
        <div class="container">
            <div class="row" style="padding-top: 30px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <h:form>
                        <div class="input-group">
                            <h:inputText value="" styleClass="form-control" pt:placeholder="Digite aqui para buscar por imagens" />
                            <span class="input-group-btn">
                                <h:commandButton action="#" value="buscar" styleClass="btn btn-default"/>
                            </span>
                        </div>
                    </h:form>
                </div>
                <div class="col-md-3">
                </div>            
            </div>
        </div>
    </div>    
</body>
</html>