<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
 
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>
        <ui:insert name="title">
            Booky
        </ui:insert>
    </title>
    
    <h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
    <h:outputStylesheet library="bootstrap/css" name="bootstrap-theme.min.css" />
    <h:outputStylesheet library="estilos" name="ecommerce_list.css" />
    
    <h:outputScript library="bootstrap/js" name="bootstrap.min.js" />
    <h:outputScript library="jquery" name="jquery-1.11.1.min.js" />
    
    <script>
        $a = jQuery.noConflict();
        $a(document).ready(function() {
            var heightWindow = $a(window).height();
            var heightBody   = document.body.clientHeight;
            if(heightWindow > heightBody){
                $a("#footer").css('position', 'fixed');
                $a("#footer").css('bottom', '0');
            }
        });
    </script>
</h:head>
<h:body style="padding-top: 50px;background-color:#eee;">
    <div>
        <ui:insert name="nav_bar">
         	<ui:include src="menu_top.xhtml"/>
        </ui:insert>
    </div>
    
    <div class="container" style="padding-top: 20px;">
        <ui:insert name="container">
        
        </ui:insert>
    </div>
    
    <div id="footer" style="padding-top:30px; margin-top:90px; width:100%; background-color: #EEEEEE;" role="footer">
        <ui:insert name="nav_footer">
        </ui:insert>
    </div>    
</h:body>
</html>