<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/public/template.xhtml">
	<ui:define name="container">
	
    	<h:outputText value="#{mensagem}"></h:outputText>
    	
	</ui:define>
</ui:composition>
</html>